{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:unicorn/recommended"],
  "plugins": ["unicorn"],
  "rules": {}
}
